/.DS_Store
/.gradle/
/package-lock.json
/.classpath
/.idea/
/.project
/.settings/
/build/
/deploy/
/target/
/bin/
/node_modules/
.*.swp
gradle/wrapper/gradle-wrapper.properties
gradlew
gradlew.bat
gradle/wrapper/gradle-wrapper.jar
